<app-navbar (toggleGraphsEvent)="toggleGraphs()" (toggleCalculationsEvent)="toggleCalculations()"></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <br>
      <app-input  (inputButtonEvent)="calculate()" *ngIf="showCalculations"></app-input>
      <hr>
      <app-calculations *ngIf="showCalculations"></app-calculations>
      <hr>
      <app-add-graph *ngIf="showGraphs"></app-add-graph>
      <app-graph-detail *ngIf="showGraphs"></app-graph-detail>
    </div>
    <div class="col-md-4">
      <app-graphs *ngIf="showGraphs"></app-graphs>
    </div>
    </div>
    </div>

