<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Calculations to perform</h3>
      <ul>
        <li *ngFor="let c in calculations">
          <div  class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{c}}
            </label>
        </div>
        </li>
      </ul>

    </div>
    <div class="col-md-6">
      <button id="copyResults" type="button" class="btn btn-outline-primary">Copy Results</button>
      <h3>Results</h3>
    </div>
  </div>
</div>
