<form>
    <div class="form-group row">
      <label for="inputChartName" class="col-sm-2 col-form-label">Chart Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputChartName" placeholder="Default Example Chart" #inputChartName>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Chart Type</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]='result' value="ScatterChart" type="radio" name="gridRadios" id="scatterRadio" checked>
            <label class="form-check-label" for="scatterRadio">
              Scatter Chart
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]='result' value="LineChart" type="radio" name="gridRadios" id="lineRadio">
            <label class="form-check-label" for="lineRadio">
              Line Chart
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]='result' value="BarChart" type="radio" name="gridRadios" id="barRadio">
            <label class="form-check-label" for="barRadio">
              Bar Chart
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]='result' value="Histogram" type="radio" name="gridRadios" id="histogramRadio">
            <label class="form-check-label" for="histogramRadio">
              Histogram
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]='result' value="PieChart" type="radio" name="gridRadios" id="pieChartRadio">
            <label class="form-check-label" for="piechartRadio">
              Pie Chart
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-sm-9">
            Errors: {{errors}}
        </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary" (click)="clickCreate(inputChartName.value, result)">Create Graph</button>
      </div>
    </div>
  </form>
  ChartName: {{title}}
  ChartType: {{type}}