<form>
    <div class="form-group row">
      <label for="inputChartName" class="col-sm-2 col-form-label">Chart Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputChartName" placeholder="Default Example Chart" #inputChartName>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Chart Type</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="scatterRadio" value="option1">
            <label class="form-check-label" for="scatterRadio">
              Scatter Chart
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="lineRadio" value="option2">
            <label class="form-check-label" for="lineRadio">
              Line Chart
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="barRadio" value="option2">
            <label class="form-check-label" for="barRadio">
              Bar Chart
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="histogramRadio" value="option2">
            <label class="form-check-label" for="histogramRadio">
              Histogram
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="piechartRadio" value="option2">
            <label class="form-check-label" for="piechartRadio">
              Pie Chart
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="piechart3DRadio" value="option2" checked>
            <label class="form-check-label" for="piechart3DRadio">
              Pie Chart 3D
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-sm-9">
            Errors: {{errors}}
        </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary" (click)="clickCreate(inputChartName.value)">Create Graph</button>
      </div>
    </div>
  </form>