<h1>Meet the Creators</h1>
<br>
<br>
<form class='card p-3 bg-light'>
    <h5>Daniel Johnson</h5>
    <div class="inline">
    <img src="/assets/images/daniel.jpg" alt="HTML5 Icon" >
    <p> Daniel was born into a humble Slavic family. Although never living in Eastern Europe,
    he is very proud of his heritage.
    He started wearing tracksuits regularly at the age of 6 and never looked back.
    His life changed when he met his future business partner, Dylan Zapzalka. This short but fierce man and
    Daniel started making statistical interfaces on a Ti-84 calculator while bored in STAT 368 class.
    Daniel's story is one of the American dream. He proved that through hard work anything is possible,
    especially in a track suit.</p>
    </div>
    <br>
    <br>
    <br>
    <h5>Dylan Zapzalka</h5>
    <div class="inline">
    <img src="/assets/images/dylan.png" alt="HTML5 Icon" >
    <p> Dylan Zapzalka was born atop of the sacred mountain Mount Paektu as a new star appeared in the sky.
        Things were looking bright for Dylan's future, until an unfortunate accident of inheriting his parents genes left him at 5'7, a height
        that would be the cause for his irremediable Napoleon Complex. Despite his short comings, he was able to start a
        successful business with his business partner, Daniel Johnson. 
        For his hobbies, he likes to enjoy his time driving around a pretentious cherry red sports car to every ones dismay.</p>
    </div>
</form>

