<h1>Meet the Creators</h1>
<br>
<br>
<h5>Daniel Johnson</h5>
<div class="inline">
<img src="/assets/images/daniel.jpg" alt="HTML5 Icon" >
<p> Daniel was born into a humble Slavic family. Although never living in Eastern Europe,
he is very proud of his heritage.
He started wearing tracksuits regularly at the age of 6 and never looked back.
His life changed when he met his future business partner, Dylan Zapzalka. This short but fierce man and
Daniel started making statistical interfaces on a Ti-84 calculator while bored in STAT 368 class.
Daniel's story is one of the American dream. He proved that through hard work anything is possible,
especially in a track suit.</p>
</div>
<br>
<br>
<br>
<h5>Dylan Zapzalka</h5>
<div class="inline">
<img src="/assets/images/dylan.png" alt="HTML5 Icon" >
<p> Dylan description here</p>
</div>
