<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2596be;">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo.jpg" width="140" height="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" class="{{graphActive}}" href="#" (click)="toggleGraphs()" id="graph">Graphs</a>
      <a class="nav-item nav-link" class="{{calcActive}}" href="#" (click)="toggleCalculations()">Calculations <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" class="{{aboutActive}}"href="#" (click)="toggleAbout()">About</a>
    </div>
  </div>
</nav>
